@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
}
.centro{
    
    
    display: block;
    width: 100vw;
    height: 100vh;
    padding-top: 93px;
    padding-bottom: 132px;
}
.foto{
    
    
    width: 500px;
    height: 500px;
    display: block;
    float: left;
    margin-left: 250px;
    
}
.perfil{
    width: 180px;
    height: 180px;
    background-color: #f5f6f7;
    border-radius: 10px 10px 0px 0px;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(161, 161, 161, 0.566);
    margin-top: 30px;
}
.fundofoto{
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    display: inline-block;
    margin-top: -4px;
    box-shadow: 0px 0px 1px rgba(161, 161, 161, 0.566);

}
#perfil01{
    background-color: #f5f6f7;
    
    
}
#perfil02{
    margin-left: 30px;
}
#fundo01{
    margin-left: 30px;
    border-radius: 0px 0px 10px 10px;
}
h1{
   
    color: #166fe5;
    font-size: 2.9em;
    
    
}
h2{
    font-size: 1.8em;
    margin-top: 10px;

}
h4{
    margin-top: 10px;
    text-align: center;
    color: #166fe5;
    font-size: 1.3em;
}


.formulario{
    width: 40%;
    height: 500px;
    display:block;
    float: right;
    margin-right: 150px;
   
    
}
p{
    margin: 0;
    padding: 0;
    
}

span{
    
    color:#166fe5;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    
}
#tm{
    font-size: 4em;
}
.form{
    background-color: rgb(255, 255, 255);
    width: 65%;
    height: 70%;
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(93, 93, 93, 0.544);
}
input{
    margin-left: 20px;
    margin-top: 10px;
    display: block;
    width: 90%;
    height: 50px;
    border: 1px solid #d9dbde;
    border-radius: 5px;
}
#esqueceu{
    text-align: center;
    margin-left: 120px;
   
}
#linha{
    background-color: rgb(213, 213, 213);
    width: 90%;
    height: 1px;
    margin-left: 20px;
    margin-top: 30px;
}
.botao{
    width: 170px;
    height: 50px;
    margin-top: 20px;
    margin-left: 110px;
    background-color: #32991e;
    border-radius: 5px;
    padding-top: 2px;
}
.botao > p{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-size: bolder;
}
.esqueceu{
    margin-top: 20px;
}
.esqueceu > a{
    text-decoration: none;
    color: #1879f8;
}
#submit{
    background-color: #166fe5;
    color: white;
    font-size: 1.5em;
    border: none;
    
    border-radius: 5px;
}
#criar{
    color: black;
    
}
#cr{
    text-align: justify;
    text-decoration: none;
}




